{#début refactor#}
{% extends 'base.html.twig' %}

{% block title %}Wolfit-Abonnements{% endblock %}

{% block body %}
    {{ include('menuAdmin.html.twig') }}
    <div class="container-fluid">
        <table class="container-fluid bg-dark">
            <hr class="my-8">
            <tr>
                <th>
                    Liste des abonnements :
                    <hr class="my-8">
                </th>
            </tr>
            <div>
                <a class="btn btn-info m-3" href="{{ path('abonnement_new',) }}">Créer un nouvel abonnement</a>
            </div>
            {% for abonnement in abonnements %}
                <tr>
                    <td class="text-center">
                        {{ abonnement.nom }}
                        <hr class="my-4">
                    </td>
                    <td class="text-center">
                        <a class="btn btn-info btn-sm" href="{{ path('abonnement_show',{ 'id': abonnement.id}) }}">Voir en détail</a>
                        <hr class="my-4">
                    </td>
                    <td class="text-center align-baseline">
                        <a class="btn btn-warning btn-sm" href="{{ path('abonnement_edit',{ 'id': abonnement.id}) }}">Modifier</a>
                    </td>
                    <td class="text-center align-baseline">
                        <a class="btn btn-danger btn-sm" href="{{ path('abonnement_delete',{ 'id': abonnement.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
{#fin refactor#}
