{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}
    {{ include('menuAdmin.html.twig') }}

    <div class="container-fluid">
        <table class="container-fluid bg-dark">
            <hr class="my-8">
            <tr>
                <th>
                    Liste des contacts :
                    <hr class="my-8">
                </th>
            </tr>
            {% for contact in contacts %}
                <tr>
                    <td class="text-center">
                        {{ contact.email }}
                        <hr class="my-4">
                    </td>
                    <td class="text-center">
                        {{ contact.contenu }}
                        <hr class="my-4">
                    </td>
                    <td class="text-center">
                        <span>Répondu</span>
                        <br>
                        {% if contact.lu == true %}
                            <input type="checkbox" checked/>
                        {% else %}
                            <input type="checkbox"/>
                        {% endif %}

                        <hr class="my-4">
                    </td>
                    <td class="text-center align-baseline">
                        <a class="btn btn-info btn-sm"
                           href="{{ path('mailResponse', {'id': contact.id}) }}">Répondre</a>
                    </td>
                    <td class="text-center align-baseline">
                        {{ include('contact/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Pas d'enregistrements</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}



